/* COMMON STYLE
--------------------------------------------------------- */
* {margin:0; padding:0;}
input, textarea, select, button {border: none; outline: none;}
body {font-family:Arial,Verdana,Tahoma,Helvetica,sans-serif; color:#333; font-size:14px; margin:0; padding:0;}
#wrap {width:990px; margin:0 auto;}

/* Normal link */
a {text-decoration:none;}
a:hover {text-decoration:underline;}

/* Heading */
h1,h2,h3,h4,h5,h6,p,blockquote,form,label,ul,ol,dl,fieldset,address {margin:0.5em 0;}
li,dd {margin-left:1em;}
fieldset {padding:.5em;}
h1,.componentheading {font-size:1.7em; margin:0;}
h2,.contentheading {font-size:1.5em;}
h3 {font-size:1.3em;}
h4 {font-size:1.2em;}
h5 {font-size:1.1em;}
h6 {font-size:1em; font-weight:700;}

/* Small text */
.small,.createdate,.modifydate,.mosimage_caption {font-size:0.8em; color:#999;}

/* MAIN LAYOUT DIVS
--------------------------------------------------------- */
#header {width:990px; height:150px; margin:0 auto 15px;}
#logo {background:url(../images/logo.png) no-repeat; width:300px; height:150px; float:left;}
#logo a {width:300px; height:150px; float:left;}
#topmenu {background:url(../images/topmenu.png) no-repeat; width:600px; height:150px; float:right;}
#content {background:#d4d1ce; width:990px; height:600px; margin:0 auto 10px;}
#left {background:#e8e8e7; width:250px; height:500px; float:left; margin: 10px;}
#page{background:#e8e8e7; width:600px; height:500px; float:right; margin: 10px;}
#footer {background:#82817f; width:990px; height:100px; margin:0 auto;}
#copyright {background:#e8e8e7; width:450px; height:70px; float:left; margin:8px 0 0 30px; color:#6d6e70;}
#developer {background:#e8e8e7; width:450px; height:70px; float:right; margin:8px 30px 0 0; text-align: right; color:#6d6e70;}

/* Moduletable Topmenu */
#topmenu ul {margin:0; padding:0; list-style:none;}
#topmenu li {float:left; margin:0; padding:0;}
#topmenu a {font-size:16px; float:left; display:block; height:29px; line-height:29px; padding:0 5px; color:#9C0101; text-decoration:none;}
#topmenu a:hover {color:#000; text-decoration:underline;}
#topmenu a#active_menu-nav {color: #f0ff02;}
#topmenu a#active_menu-nav:hover {color: #fff;}
